-i https://pypi.org/simple/
click==7.0
cymysql==0.9.13
flask-login==0.4.1
flask-sqlalchemy==2.4.0
flask==1.0.2
itsdangerous==1.1.0
jinja2==2.11.1
markupsafe==1.1.1
sqlalchemy==1.3.13
werkzeug==0.15.3
wtforms==2.2.1
xlrd==1.2.0
